.card-deck {
  display: flex;
  justify-content: space-between;
}

.card {
  flex-basis: 40%; /* Adjust this value to change the card size */
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 2px;
  width: 150px;
  height: 150px;
}


